.page
{background-color: black
}

li{display:inline-block;
margin: 20px;
padding: 10px;
text-decoration:overline;
}
header
{
text-align: center;
padding: 10px;

}

h1

{
  font-size: 5em;
  text-shadow: 3px 3px 3px white;

}
#navelem
{
  font-size: 3em;
  margin: 70px 80px;
  padding: 10px;
  color: black;
}
